/* Font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/* Default styling for body elements */
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Libre Baskerville', serif;
}

header {
    height: 100px;
    width: 100%;
    padding-top: 30px;
    background-color: lightgray;
    border-bottom: 3px solid black;
    
}
header a {
    text-decoration: none;
    color: black;
}

h1 {
    float: left;
    font-size: 370%;
    padding-left: 60px;
    line-height: 0;
    text-decoration: none;
}

nav li {
    float: right;
    list-style-type: none;
    padding: 10px 60px 0 0;
    font-size: 170%;
}

nav a:hover {
    text-decoration: underline;
}

#landing-page-image {
    /* Image source: https://commons.wikimedia.org/wiki/File:York_Minster_from_M%26S.JPG */
    background: url('../images/landing-page-image.JPG') center 40% no-repeat fixed;
    height: 75vh;
    width: 100%;
}

#book-button-div {
    height: 0;
    text-align: center;
}

/* Book a tour button */
#book-button-div a {
    position: relative;
    top: -10px;
    background-color: #82a0aa;
    font-size: 2rem;
    line-height: 0;
    border-radius: 15px;
    padding: 20px;
    border: 3px solid black;
    box-shadow: inset 1px 1px 5px 0 white,
                inset -2px -2px 3px black;
    text-decoration: none;
    color: black;
}

#book-button-div a:hover {
    color: white;
}

#book-button-div a:active {
    box-shadow: inset -1px -1px 5px 0 white,
                inset 2px 2px 3px black;
}

/* About us section */
#about-us {
    background-color: lightgray;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 40px 60px;
    overflow: hidden;
}

#nave-inside-image {
    float: left;
}

#about-us-text {
    text-align: center;
    margin: 100px 0;
}

#about-us-text h2 {
    font-size: 220%;
}

#about-us-text li {
    list-style-type: none;
    margin: 70px 0;
    font-size: 160%;
}

/* Booking section */
#booking {
    background-color: #82a0aa;
    text-align: center;
    padding: 60px 0;
}

#booking h2 {
    margin: 0;
}

/* Booking form */
#form-div {
    display: inline-block;
    width: 500px;
    text-align: left;
}

#booking label {
    font-size: 150%;
    line-height: 1.5;
}

input {
    width: 100%;
    height: 30px;
}

form div {
    text-align: center;
}

.radio {
    width: 70px;
}

form button {
    font-size: 150%;
}

/* Footer */
footer {
    height: 100px;
    background-color: lightgray;
    border-top: 3px solid black;
    text-align: center;
    font-size: 180%;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

/* Media query for screens under 1200px wide */
@media screen and (max-width: 1199px) {
    header {
        height: 185px;
        padding: 10px 0 0 0;
        text-align: center;
   }

   h1 {
        float: none;
        padding: 0;
   }

   nav ul {
        padding: 0;
   }

   nav li{ 
        float: none;
        padding: 3px 0;
        line-height: 1;
   }

   #about-us {
        text-align: center;
   }

    #nave-inside-image {
        float: none;
    }

   #about-us-text {
        clear: both;
   }
}